project:
  type: website
  output-dir: docs
  resources:
  - "/.nojekyll"

website:
  title: "OffshoreWindHabitat.info"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



